<h3>以下の内容で保存します</h3>

<%= form_with(model: @article, local: true, url: articles_path,)do|form| %>

  <%= form.hidden_field :content %>
  <p>本文：<%= @article.content %></p>
  <%= form.submit "保存" %>
<% end %>